*{
    margin: 0;
    padding: 0;
    
}
body{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    border: 8px solid white;
}
h1{
    background-color: rgb(243, 153, 10);
    margin-bottom: 14px;
}
.sub{
    background-color: rgb(250, 135, 13);
    font-size: 20px;
    color:white;
    padding: 10px;
    border-radius:5px;
    border: 1px solid greenyellow;
}
.sub:hover{
    background-color: rgb(57, 57, 243);
    transition: .5s;
    cursor: pointer;
}
textarea{
    clo
}
input, select{
    font-size: 20px;
}